@model IEnumerable<Book>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Books.css">
</head>
<div class="book-grid">
    @foreach (var book in Model)
    {
        <div class="book-item">
            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">
                <img src="@Url.Content(book.ImageUrl)" alt="@book.Title">
                <h3>@book.Title</h3>
            </a>
        </div>
    }   
</div>
