body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: #333;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    transition: background-color 0.3s;
}

.nav-list li a:hover {
    background-color: #555;
}

.title {
    display: flex;
    width: 100%;
    background-color: #ba98c38f;
}

.title img {
    width: 110px;
    margin-left: 40px;
}

